// Startup
include "conf/autostart.kdl"

// Hardware
include "conf/monitors.kdl"
include "conf/input.kdl"

// Environment
include "conf/workspace.kdl"
include "conf/environment.kdl"

// UX
include "conf/layout.kdl"

// Behavior
include "conf/keybinding.kdl"
include "conf/windowrule.kdl"

hotkey-overlay {
    skip-at-startup
}

// prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null

animations {
    // off
    // slowdown 3.0
}
